/* Site footer ! */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $first-bg-color;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: $white-text-color;
}
