.feature {
  display: flex;
  list-style: none;
}

.feature__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.feature__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
}

.feature__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $icon-bg-color;
}
