.clients {
  display: flex;
}

.clients__item {
  list-style: none;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid $icon-primary-color;
  border-radius: 4px;
  width: 170px;
  height: 92px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__icon {
  fill: $icon-primary-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:active &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
