/* Набор цветов макета */
$primary-text-color: #757575; /* Приоритетный цвет страницы */
$title-text-color: #212121; /* Цвет заголовка */
$accent-color: #2196f3; /* Цвет акцента */
$white-text-color: #ffffff; /* Белый цвет */
$logo-text-color: #000000; /* Черный цвет логотипа */
$hero-text-color: #f5f4fa; /* Основной цвет на героя */
$first-bg-color: #2f303a; /* Цвет фона главной страницы */
$footer-link-color: rgba(255, 255, 255, 0.6); /* цвет фона футера */
$icon-bg-color: #f5f4fa; /*цвет фона иконок*/
$icon-primary-color: #afb1b8; /*Основной цвет иконок *

/*Набор шрифтов*/
$primaryFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;
